beautifulsoup4==4.12.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.9.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
newspaper3k==0.2.8
nltk==3.9.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
PySide6==6.8.2
PySide6_Addons==6.8.2
PySide6_Essentials==6.8.2
regex==2024.11.6
requests==2.32.3
SpeechRecognition==3.14.1
urllib3==2.3.0
wikipedia==1.4.0